* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*::selection {
  background-color: #307351;
  color: #e2dfd2;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  overscroll-behavior: none;
  width: 100%;
  z-index: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
